.card_action {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.album_card_item {
    border-radius: 10px !important;
    box-shadow: 3px 3px 3px 3px lightgray !important;
    max-width: 24rem;
    /*height: 100%;*/
    overflow: auto !important;
}

.card_title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content {
    height: 100%;
}

.description {
    word-break: break-word;
}

.album_card {
    padding: 10px;
}