################ BACKEND ################
.idea/
backend/__pycache__/
backend/migrations/__pycache__/__init__.cpython-39.pyc
backend/migrations/__pycache__/
backend/staticfiles
backend/.env
backend/.env.db


################ FRONTEND ################
# dependencies
frontend/node_modules
frontend/.pnp
frontend/.pnp.js

# testing
frontend/coverage

# production
frontend/build

# misc
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

################ PROJECT ################
media
node_modules
__pycache__/
venv
*.env
*.env.db