asgiref
cffi
cryptography
Django
django-cors-headers
djangorestframework
djangorestframework-simplejwt
Pillow
pycparser
PyJWT
pytz
sqlparse
tzdata
django-imagekit
django-db-signals
psycopg2-binary
django-heroku
psycopg2
gunicorn
whitenoise
django-filter
image
dj-database-url