.pagination {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
    font-size: 1.2rem;
    gap: 5px;
}

.page_num{
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 3px;
    font-weight: 400;
}

.page_num:hover{
    background-color: #61dafb;
    color: white;
}

.active{
    background-color: #61dafb;
    color: white;
}

.images {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
    justify-items: center;
    justify-content: center;
    margin: auto;
}