.pagination {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    align-self: flex-start;
    margin-top: 10rem;
}

.page_num{
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 3px;
    font-weight: 400;
}

.page_num:hover{
    background-color: #61dafb;
    color: white;
}

.active{
    background-color: #61dafb;
    color: white;
}
