.tags {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
    justify-items: center;
    justify-content: center;
    margin: auto;
}