.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.jumbotron {
    width: 80%;
    padding: 2rem !important;
    background-color: #e5e6e8;
    text-align: center;
}

.jumbotron > h1 {
    text-align: center;
}

.jumbotron_image {
    max-height: 25rem;
    object-fit: contain;
    border: none;
}
