.label {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 1fr 0.5fr;
    padding: 0.5rem;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}

.label > .icon {
    grid-column: 1 / span 1;
    grid-row: 1 / -1;

}

.label > .title {
    grid-column: 2 / -1;
    grid-row: 1 / span 1;
    justify-self: flex-start;
    width: 100%;
}

.label > .title > .titleText {
    font-size: 1rem;
}

.label > .delete {
    grid-column: 2 / -1;
    grid-row: 2 / -1;
    align-self: center;
    justify-self: flex-end;
}