.main {
    margin: 2rem;
}


.image-img {
    width: 10rem;
    height: auto;
}

h1 {
    margin: 10px;
    font-size: 40px;
    color: rgb(1, 1, 59);
}

.search {
    width: 30%;
}

ul li {
    font-size: 20px;
}

.click {
    cursor: pointer;
}

.click:hover {
    color: red;
}