html {
    font-size: calc(60% + 0.8vmin);
}

.MuiBox-root::-webkit-scrollbar {
  display: none;
}

.main {
    margin: 1rem;
}

.image-img {
    max-width: 30%;
    height: auto;
}

.search {
    width: 30%;
}

ul li {
    font-size: 20px;
}

.click {
    cursor: pointer;
}

.click:hover {
    color: red;
}

.list_actions {
    display: flex;
    padding: 0.75rem 2.5rem 1.5rem 2.5rem;
}

.list_actions > .search {
    flex-basis: 90%;
}

.list_actions > .add_form {
    flex-basis: 10%;
}

.card-info {
    width: 100%;
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between;
    align-items: center;
}

.card-info > .title {
    flex-basis: 90%;
}

.card-info > .delete-button {
    flex-basis: 10%;
}

.expanded-image {
    width: 100%;
    height: auto;
}

.image-preview {
    width: 10%;
    height: auto;
}

.form {
}

.form > .title {
    margin: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 40px;
    color: rgb(1, 1, 59);
}

.form > .field {
    margin: 0.5rem 0;
    width: 80%;
}


.labels {
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    gap: 10px;
    justify-content: flex-start;
}

.label {
    width: 100%;
    margin: 0;
}

.label > .card > .body {
    display: flex;
    align-items: center;
    padding: 1rem !important;
    justify-content: space-between;
}

.label > .card > .body > .title {
    flex-basis: 90%;
}

.label > .card > .body > .delete-button {
    flex-basis: 10%;
}

