@font-face {
    font-family: "Odachi";
    src: local("Odachi"),
    url("./fonts/Odachi/Odachi.otf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "EduQLDBeginner";
    src: local("EduQLDBeginner"),
    url("./fonts/Edu QLD Beginner/EduQLDBeginner-SemiBold.ttf") format("truetype");
    font-weight: bold;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Odachi',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
